<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genogram.mapper.FanNewsCultureZipaiDrftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.genogram.entity.FanNewsCultureZipaiDrft">
        <id column="id" property="id" />
        <result column="fan_news_culture_zipai_id" property="fanNewsCultureZipaiId" />
        <result column="ziapi_location" property="ziapiLocation" />
        <result column="ancestors_name" property="ancestorsName" />
        <result column="zipai_txt" property="zipaiTxt" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fan_news_culture_zipai_id AS fanNewsCultureZipaiId, ziapi_location AS ziapiLocation, ancestors_name AS ancestorsName, zipai_txt AS zipaiTxt, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
