<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genogram.mapper.FanSysRecommendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.genogram.entity.FanSysRecommend">
        <id column="id" property="id" />
        <result column="show_id" property="showId" />
        <result column="news_id" property="newsId" />
        <result column="isProvince" property="isProvince" />
        <result column="isCountry" property="isCountry" />
        <result column="is_auto" property="isAuto" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, show_id AS showId, news_id AS newsId, isProvince, isCountry, is_auto AS isAuto, status, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

    <select id="getIndexRecommend" parameterType="java.util.Map" resultType="com.genogram.entityvo.NewsDetailVo">
    select temp1.* from (
    SELECT
        '1' as source,w.id, w.show_id AS showId, w.news_title AS newsTitle, w.news_text AS newsText, w.visit_num AS visitNum, w.status, w.create_time AS createTime, w.create_user AS createUser, w.update_time AS updateTime, w.update_user AS updateUser
     FROM fan_sys_site e,fan_sys_web_news_show s,fan_sys_recommend m,fan_news_culture_news w
    where
    1=1
    <if test="parent!=null">
       and e.parent=#{parent}
    </if>
    and e.id=s.fan_sys_site_id and s.show_id=m.show_id
        <if test="status!=null">
            and m.`status`=#{status}
        </if>
        <if test="newsSource!=null">
            and m.news_source=#{newsSource}
        </if>
         and m.show_id=w.show_id and m.news_id=w.id
    union all
    SELECT
        '2' as source,r.id, r.show_id AS showId, r.news_title AS newsTitle, r.news_text AS newsText, r.visit_num AS visitNum, r.status, r.create_time AS createTime, r.create_user AS createUser, r.update_time AS updateTime, r.update_user AS updateUser
      FROM fan_sys_site e,fan_sys_web_news_show s,fan_sys_recommend m,fan_news_family_record r
    where
        1=1
        <if test="parent!=null">
            and e.parent=#{parent}
        </if>
        and e.id=s.fan_sys_site_id and s.show_id=m.show_id
        <if test="status!=null">
            and m.`status`=#{status}
        </if>
        <if test="newsSource!=null">
            and m.news_source=#{newsSource}
        </if>
        and m.show_id=r.show_id and m.news_id=r.id
    ) temp1
        order by temp1.updateTime desc
    </select>

</mapper>
